/* ThankYou Container ===================================*/

.logout-container {
    background-color: #ecf0f1; 
    border-radius: 20px; 
    padding: 20px; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    width: 25rem; /* Adjust to your needs */
    text-align: center; 
    margin: auto; 
  }
  
  .logout-container button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #e74c3c;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
    margin-bottom: 1em; /* Space between the button and the heading */
  }
  
  .logout-container button:hover {
    background-color: #c0392b;
  }
  
  .logout-container h2,
  .logout-container p {
    font-family: 'Roboto', sans-serif;
    color: #2c3e50;
  }
  
  .logout-container h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em; /* Space between the heading and the paragraph */
  }
  
  .logout-container p {
    font-size: 1.2em;
  }
  
  /* ThankYou Container end===================================*/